@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222222;
}

body {
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
